@media all and (max-width: 1550px) {
    
    .portfolio__middle {
        justify-content: center;
    }
    .portfolio__middle-right {
        width: 50%;
    }
    .about__round-column {
        width: 321px;
    }
    .about__text-column {
        width: 450px;
    }
    .about__progress-column {
        width: 450px;
    }
    .slider-depiction__slide-ratio {
        padding-top: 75%;
    }
}
@media all and (max-width: 1250px) {
    .header {
        font-size: 13px;
    }
    .about {
        font-size: 13px;
    }
    .portfolio {
        font-size: 13px;
    }
    .about__round-column {
        width: 0;
    }
    .portfolio__middle {
        justify-content: flex-start;
        flex-direction: column-reverse;
        // align-items: center;
    }
    .portfolio__middle-left {
        align-self: center;
        margin: 30px 0 0 0;
        width: 100%;
    }
    .portfolio__middle-right {
        align-self: center;
        width: 100%;
        max-width: unset;
    }
    .slider-depiction__slide-ratio {
        padding-top: 56.25%;
    }
    .slider-description {
        width: 100%;
        max-width: unset;
        &__slide {
            display: flex;
            justify-content: center;
        }
    }
    .slider-description__slide-part {
        display: inline-block;
        max-width: 400px;
        vertical-align: top;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}
@media all and(max-width: 992px) {
    .header, .about, .portfolio, .blog, .contact {
        font-size: 12px;
    }
    .blog {
        &__middle {
            display: block;
        }
        &__middle-left {
            margin: 0 auto;
        }
        &__middle-right {
            display: none;
        }
    }
}
@media all and(max-width: 768px){
    .header, .about, .portfolio, .blog, .contact {
        font-size: 10px;
    }
    .header {
        padding: 20px 0 60px;
        &__main {
            margin-top: 60px;
        }
    }
    .about {
        &__bottom {
            display: block;
            // flex-direction: column;
            // align-items: center;
        }
        &__text-column {
            width: unset;
        }
        &__progress-column {
            margin-top: 20px;
            width: unset;
        }
    }
    
    .form {
        &-top {
            display: block;
            text-align: center;
        }
        &-input--half {
            margin-top: 10px;
            width: 100%;
        }
    }
    .contact {
        &__head {
            display: block;
            text-align: center;
        }
    }
}