@import 'reset.scss';
@import 'block.scss';
@import 'libs.min.scss';

@mixin f-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background-color: #5c5766;
    text-align: center;
    padding: 60px 0 120px;
}
.header__nav {
    @include f-center-between;
    max-width: 950px;
    margin: 0 auto;
    .header__nav-item {
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        color: #fff;
        font-size: 15px;
        letter-spacing: 0.1em;
    }
}
.header__main {
    margin-top: 130px;
    font-family: 'Roboto Slab', serif;
}
.header__main-h3 {
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    font-size: 35px;
    letter-spacing: 0.04em;
    margin-top: 45px;
}
.header__main-h2 {
    font-weight: 300;
    color: #fff;
    font-size: 66px;
    margin: 25px;

    b{
        font-weight: bold;
    }
}
.header__main-h4 {
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    margin-top: 20px;
}
.header__social-links {
    margin: 40px auto 0;
    position: relative;
    &::before {
        content: '';
        display: inline-block;
        height: 2px;
        width: 88px;
        background-color: #c4c0cf;
        position: absolute;
        top: 0px;
        left: -88px;
        bottom: 0;
        margin: auto 0;
    }
    &::after {
        content: '';
        display: inline-block;
        height: 2px;
        width: 88px;
        background-color: #c4c0cf;
        position: absolute;
        top: 0px;
        right: -88px;
        bottom: 0;
        margin: auto 0;
    }
}
.header__about-me {
    @include f-center-between;
    max-width: 775px;
    margin: 160px auto 0;

    .header__about-item {
        font-weight: bold;
        letter-spacing: 0.24em;
        font-size: 18px;
        color: #fff;
    }
    .header__about-value {
        text-transform: uppercase;
        color: #ffd670;
    }
}

.about {
    background-color: #524664;
    padding: 100px 0;
}
.about__top {
    text-align: center;
    .about__top-image {
        width: 100px;
    }
    .about__top-h2 {
        color: #fff;
        margin-top: 20px;
        &::before {
            background-color: #736588;
        }
    }
    .about__top-h3 {
        margin-top: 18px;
        color: #736588;
    }
}
.about__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Roboto Slab', serif;
    margin-top: 90px;

    .column.align__item {
        align-self: center;
    }
    .about__bottom-round {
        width: 371px;
        height: 371px;
    }
    .about__bottom-h5 {
        text-transform: uppercase;
        text-align: left;
        font-weight: bold;
        font-size: 18px;
        line-height: 34px;
        color: #fff;
    }
    .about__bottom-h6 {
        font-weight: 400;
        font-size: 15px;
        color: #c4c0cf;
        margin-top: 30px;
    }
    .about__bottom-p {
        color: #c4c0cf;
        line-height: 30px;
        font-weight: 200;
        font-size: 15px;
        max-width: 520px;
        &.item__margin {
            margin-top: 30px;
        }
    }
    .about__bottom-links {
        margin-top: 20px;
    }
    .about__bottom-progress {
        margin-top: 14px;
    }
}

.portfolio {
    padding: 90px 0 90px;
    background-color: #ffd670;
}
.portfolio__top {
    .portfolio__top-h2 {
        color: #fff;
        &::before {
            background-color: #fff0ca;
        }
    }
    .portfolio__top-h3 {
        color: #fff0ca;
        margin-top: 18px;
        text-align: center;
    }
}
.portfolio__middle {
    display: flex;
    align-items: flex-start;
    margin-top: 120px;
}
.portfolio__middle-left {
    margin-right: 50px;
}
.slider-description {
        max-width: 483px;

        &__h3 {
            color: #fff1ce;
        }
        &__headline {
            font-weight: bold;
            font-size: 23px;
            color: #fff;
            margin: 25px 0;
        }
        &__hr {
            margin: 16px 0;
            border-top: 1px solid #ffe39c;
        }
        &__p {
            font-weight: 300;
            font-size: 15px;
            line-height: 2em;
            color: #fff;
        }
        &__tags {
            margin-top: 25px;
            .slider-description__tag {
                font-weight: 300;
                font-size: 15px;
                color: #fff;
                &::after {
                    content: ', ';
                }
                &:last-child::after {
                    content: '';
                }
    
            }
        }
        &__list {
            margin: 25px 0;
            .list__item {
                font-weight: 300;
                font-size: 15px;
                color: #fff;
                margin-left: 30px;
                padding-left: 25px;
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    background-color: #fff;
                    transform: rotate(45deg);
                    width: 10px;
                    height: 10px;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto 0;
                }
            }
        }
}
.portfolio__middle-right {
    position: relative;
    .slider-depiction {
        width: 970px;
        height: 680px;
        position: relative;
    }
    .slider-depiction__image {
        object-fit: cover;
    }
    .slider-depiction__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #c6aa6d;
        width: 63px;
        height: 78px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: 2;
        img {
            width: 24px;
        }
    }
    .slider-depiction__arrow-prev {
        border-radius: 0 4px 4px 0;
        left: 0;        
    }
    .slider-depiction__arrow-next {
        border-radius: 4px 0 0 4px;
        right: 0;
    }
}

.blog {
    padding: 90px 0 0;
}
.blog__top {
    &-h2 {
        color: #5b6074;
        &::before {
            background-color: #5b6074;
        }
    }
    &-h3 {
        color: #5b6074;
        text-align: center;
        margin-top: 20px;
    }
}
.blog__middle {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 90px;
}
.blog__middle-left {
    max-width: 670px;
    .blog__middle-image {
        width: 100%;
        height: 370px;
        border-radius: 10px;
        overflow: hidden;
        .blog__middle-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .blog__middle-h4 {
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 37px;
        color: #373c4f;
        margin: 25px 0;
    }
    .blog__middle-p {
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 15px;
        line-height: 2em;
        color: #898d9d;
        margin-top: 20px;
    }
}
.blog__middle-data {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    color: #c4c0cf;
    .source {
        font-weight: bold;
        &:before {
            content: ' IN ';
            font-weight: 300;
        }
    }
    .number-comment {
        &::before {
            content: ' - ';
        }
        &::after {
            content: ' COMENTS';
        }
    }
}
.blog__middle-tags {
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #898d9d;
    padding: 30px 0;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    .bolg__middle-tag {
        font-weight: 300;
        &::after {
            content: ', ';
        }
        &:last-child::after {
            content: '';
        }
    }
}
.blog__middle-right {
    margin-left: 15px;

    .blog__middle-h6 {
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: #898d9d;
    }
    .blog__middle-part {
        margin-bottom: 50px;
    }
    .search-input {
        outline: none;
        background-color: #f8f8f8;
        padding: 15px 40px 15px 20px;
        margin: 25px 0 0px;
        color: #898d9d;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 14px;
        border-radius: 4px;
        border: none;
    }
    .search-btn {
        position: relative;
        left: -45px;

        img {
            width: 14px;
        }
    }
    .blog__middle-list {
        margin-top: 35px;
    }
    .blog-list__item {
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 37px;
        color: #bec0c9;
        box-sizing: border-box;
        width: 100%;
        padding-left: 35px;
        border-bottom: 1px solid #f8f8f8;
    }
}
.blog__comments {
    max-width: 670px;
    margin-top: 45px;
}
.comments {
    .comments__h4 {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 15px;
        color: #898d9d;
    }
    .comments__items {
        margin-top: 40px;
    }
    .comments__item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        box-sizing: border-box;
        margin-top: 40px;
        padding-bottom: 30px;
        border-bottom: 1px solid #f4f4f4;
        &--response{
            padding-left: 90px;
        }
    }
    .user__image {
        min-width: 70px;
        height: 70px;
        overflow: hidden;
        border-radius: 2px;
        margin-right: 20px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .comments__item-body {
        max-width: 580px;
    }
    .comments__item-name {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        color: #ffdb83;
        font-size: 13px;
        display: block;
    }
    .comments__item-data {
        margin: 14px 0 16px;
        font-family: 'Roboto Slab', serif;
        font-size: 11px;
    }
    .comments__publication-data {
        font-weight: 300;
        color: #c4c0cf;
        &::after {
            content: ' - ';
        }
    }
    .comments__item-reply {
        font-weight: 400;
        color: #ffd670;
    }
    .comments__item-text {
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 13px;
        line-height: 25px;
        color: #898d9d;
    }
}
.comments__form {
    margin-top: 65px;
    font-family: 'Roboto Slab', serif;

    .comments__h4 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        color: #898d9d;
    }
    .coments__span {
        font-weight: 300;
        font-size: 13px;
        color: #898d9d;
        margin: 22px 0;
        display: block;
    }
    .comment-input__half {
        width: 325px;
    }
    .comment__form-btn {
        margin-top: 30px;
    }
    .comment__form-text {
        margin-top: 20px;
    }
    .comments__form-p {
        width: 100%;
        font-weight: 300;
        font-size: 13px;
        margin-top: 20px;
        color: #cacaca;
        line-height: 25px;
    }
}

.blog__bottom-slider {
    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 75px;
    margin-top: 160px;
    &::-webkit-scrollbar {
        height: 20px;
        background-color: #f3f3f3;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        border: none;
        background-color: #ffd670;
        border-radius: 20px;
    }

    .blog__bottom-item {
        display: block;
        min-height: 477px;
        min-width: 347px;
        background-color: #f3f3f3;
        font-family: 'Roboto Slab', serif;
        border-radius: 8px;
        overflow: hidden;
        &:not(:last-child) {
            margin-right: 35px;
        }
    }
    .blog__bottom-container {
        max-width: 276px;
        margin: 0 auto;
    }
    .blog__bottom-image {
        width: 100%;
        height: 295px;
        background-color: #ffd670;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .blog__bottom-h6 {
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #373c4f;
        margin-top: 36px;
        font-size: 14px;
    }
    .blog__bottom-p {
        font-style: italic;
        font-weight: 300;
        font-size: 13px;
        line-height: 22px;
        margin-top: 22px;
        color: #898d9d;
    }
    .blog__bottom-a {
        display: inline-block;
        font-size: 13px;
        color: #ffd670;
        margin-top: 24px;
    }
}
.contact {
    padding: 100px 0;
    font-family: 'Roboto Slab', serif;
    &__container-inner {
        max-width: 900px;
        margin: 0 auto;
    }
    &__h2 {
        color: #5b6074;
        &::before {
            background-color: #dbdde5;
        }
    }
    &__h3 {
        text-align: center;
        margin-top: 20px;
    }
    &__head {
        margin-top: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__head-item {
        display: block;
    }
    &__head-image {
        width: 65px;
        height: 65px;
        vertical-align: middle;
    }
    &__head-a {
        font-weight: 300;
        font-size: 20px;
        color: #a5aabe;
        vertical-align: middle;
        margin: 0 35px 0 20px;
    }
    &__form {
        margin-top: 60px;
    }
    &-input__half {
        width: 430px;
    }
    &__form-text {
        margin-top: 40px;
    }
    &__form-btn {
        margin: 40px auto 0;
    }
}